<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FYP_GUI_v.__.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FYP_GUI_v.__.Properties.Settings.FYP_DBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\FYP_DB.mdb"
            providerName="System.Data.OleDb" />
        <add name="FYP_GUI_v.__.Properties.Settings.User_infoConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\User_info.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <FYP_GUI_v.__.Properties.Settings>
            <setting name="FormTop" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FormLeft" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FormWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="FormHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SplitterPos" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DataBaseFileDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveFielDirectory" serializeAs="String">
                <value />
            </setting>
        </FYP_GUI_v.__.Properties.Settings>
    </userSettings>
</configuration>